@import "tw-animate-css";
@import "shadcn/tailwind.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  overflow-x: hidden;
}

html {
  scrollbar-gutter: stable;
}

body {
  overflow-y: scroll;
}

@theme {
  --font-sans: var(--font-figtree);
}
